@tailwind base;
@tailwind components;
@tailwind utilities;

/* add trajan-regular font */
@font-face {
  font-family: "trajan";
  src: url("../../public/fonts/trajan-extralight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "trajan";
  src: url("../../public/fonts/trajan-regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "trajan";
  src: url("../../public/fonts/trajan-light.ttf") format("truetype");
  font-weight: 300;
}

/* Define font faces for different weights */
@font-face {
  font-family: "arpona";
  src: url("../../public/fonts/arpona-thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "arpona";
  src: url("../../public/fonts/arpona-light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "arpona";
  src: url("../../public/fonts/arpona-regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "arpona";
  src: url("../../public/fonts/arpona-medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "arpona";
  src: url("../../public/fonts/arpona-bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "arpona";
  src: url("../../public/fonts/arpona-extrabold.otf") format("opentype");
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
  font-family: "arpona";
}

.cart * {
  font-family: "arpona";
}

.main-container * {
  font-family: "arpona";
}

#about-paragraph {
  font-family: "arpona";
}

.glow-circle {
  filter: drop-shadow(10 20 10px rgb(255, 255, 255));
  transition: filter 3s ease-in-out;
}

.glow-circle:hover {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
}

/* Add or adjust this in your global stylesheet */
.underline-animation::after {
  content: "";
  display: flex;
  width: 0;
  height: 2px; /* Adjust the thickness of the underline */
  background: currentColor; /* Use the text color for the underline */
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.underline-animation:hover::after {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #567256;
  border-radius: 50px;
  background-clip: content-box; /* Adjust the padding as needed */
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0);
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-container {
  display: flex;
  animation: ticker 30s linear infinite alternate;
}

@media screen and (max-width: 768px) {
  @keyframes ticker {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-250%);
    }
  }
  .ticker-container {
    animation: ticker 30s linear infinite alternate;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.slide-up {
  animation: slide-up 1s ease-in-out forwards;
}

.slide-down {
  animation: slide-down 1s ease-in-out forwards;
}

.absolute.inset-0.w-full.h-full.pointer-events-auto.z-\[9995\].bg-black.bg-opacity-60.backdrop-blur-sm {
  position: fixed !important;
}

span.absolute.top-2\/4.-translate-y-2\/4.left-0.pt-3 {
  padding: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.accordion-header span {
  margin-left: 0.5rem;
}

.accordion-header span svg {
  width: 1rem;
}

button.peer.w-full.h-full.bg-transparent.text-blue-gray-700.font-sans.font-normal.text-left.outline.outline-0.focus\:outline-0.disabled\:bg-blue-gray-50.disabled\:border-0.disabled\:cursor-not-allowed.transition-all.border-b.text-sm.pt-4.pb-1\.5.border-blue-gray-200 {
  color: black;
}
