@tailwind base;
@tailwind components;
@tailwind utilities;

/* add trajan-regular font */
@font-face {
  font-family: "trajan-extralight";
  src: url("../../public/fonts/trajan-extralight.ttf") format("truetype");
}
@font-face {
  font-family: "trajan-regular";
  src: url("../../public/fonts/trajan-regular.otf") format("opentype");
}

@font-face {
  font-family: "trajan-light";
  src: url("../../public/fonts/trajan-light.ttf") format("truetype");
}

@font-face {
  font-family: "arpona";
  src: url("../../public/fonts/arpona-thin.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

.cart * {
  font-family: "arpona", sans-serif;
}

.main-container * {
  font-family: "aprona", sans-serif;
}

#about-paragraph {
  font-family: "arpona", sans-serif;
}

.glow-circle {
  filter: drop-shadow(10 20 10px rgb(255, 255, 255));
  transition: filter 3s ease-in-out;
}

.glow-circle:hover {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
}

/* Add or adjust this in your global stylesheet */
.underline-animation::after {
  content: "";
  display: flex;
  width: 0;
  height: 2px; /* Adjust the thickness of the underline */
  background: currentColor; /* Use the text color for the underline */
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.underline-animation:hover::after {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #567256;
  border-radius: 50px;
  background-clip: content-box; /* Adjust the padding as needed */
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0);
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-container {
  display: flex;
  animation: ticker 30s linear infinite alternate;
}

@media screen and (max-width: 768px) {
  @keyframes ticker {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-250%);
    }
  }
  .ticker-container {
    animation: ticker 30s linear infinite alternate;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.slide-up {
  animation: slide-up 1s ease-in-out forwards;
}

.slide-down {
  animation: slide-down 1s ease-in-out forwards;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0; /* Default state for most images */
  animation: fadeCarousel 60s infinite; /* Total animation time is 60 seconds */
}

.animation-delay-0 {
  opacity: 1; /* Make the first image visible immediately */
}

@keyframes fadeCarousel {
  0%,
  25%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  8.33%,
  33.33% {
    opacity: 1;
  }
  58.33%,
  83.33% {
    opacity: 1;
  }
}

.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-1 {
  animation-delay: 15s;
}
.animation-delay-2 {
  animation-delay: 30s;
}
.animation-delay-3 {
  animation-delay: 45s;
}

.absolute.inset-0.w-full.h-full.pointer-events-auto.z-\[9995\].bg-black.bg-opacity-60.backdrop-blur-sm {
  position: fixed !important;
}

span.absolute.top-2\/4.-translate-y-2\/4.left-0.pt-3 {
  padding: 0;
}
